@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-image: url("images/af0a67acb1da6998995b122e169725d1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
    top: 100px; 
    position: relative;
    width: 100%;
    background-color:none;
    min-height: 100vh;
    overflow: hidden;
  }
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  .btn {
  width: 150px;
  background-color: #4b157a;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
 text-align: center;
  text-decoration: none;
  
  
}

  .btn:hover {
  background-color: #31105a;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins';
  }
.social-media {
    display: flex;
    justify-content: center;
  }
.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
 .nav-toggler{
   background-color: #333;
 }
 
 footer {
  font-family: 'Poppins',sans-serif;
  display: block;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid transparent;
}
